.login {
  display: grid;
  place-items: center;
  background-color: var(--darkBkg);
  height: 100vh;
  color: white;
}

.login__container {
  padding: 100px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px;
  display: flex;
  flex-direction: column;
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container input {
  margin-top: 1rem !important;
}

.login__container > p {
  margin-top: 1rem;
}

.login__containerSignInText {
  cursor: pointer;
  color: rgb(0, 140, 255);
  text-decoration: underline;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #0a8d48 !important;
  color: white;
}

.login__warning {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}
