body {
  --slack-color: #3f0f40;
  /* background-color: black; */
  /* color: white; */
  --darkBkg: #2a2a2a;
}

.app__body {
  display: flex;
  height: 100vh;
  background-color: rgb(42, 42, 42);
  color: white;
}
